body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--bs-black);
    background-color: var(--bs-white);
    }

.my-container {
  width: 100%;
}

h3 {
  background-color: #00FFFF;
  height: 50px;
  padding-top: 13px;
}

.titulo-campos {
  text-align: left;
}

p {
  padding-top: 5%;
}

input {
  width: 100%;
  text-align: left;
  margin-top: auto;
  box-shadow: inset;
}

button {
  width: 100%;
}

